/* Google Fonts */

/* CSS Variables */

/* Global Styles */

/*Buttons */

/* Navbar */

/* Forms */

/* Header */

/* Main */

/* Portfolio Cards */

/* Footer */

/* grid visualisation CSS for testing */



/*.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */



/* Media Queries */
/* Small devices (landscape phones, 576px and up) */

/* Medium devices (tablets, 768px and up) */

/* Large devices (desktops, 992px and up) */

/* Extra large devices (large desktops, 1200px and up) */

/* exra extra large devices (large desktops, 1400px and up) */
