/* Google Fonts */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Josefin Slab */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
/* Maven Pro */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: 'Josefin Slab', serif;
    --primary-color: #fed4cd; /* Pastel pink */
    --secondary-color: #000000; /* Black */
    --highlight-color: #98b9b8; /* Pastel Blue */
    --highlight-color-dark: #3b626c ;
}

/* Global Styles */

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    
    font-weight: 500;
}

h1, h2, h3 {
    font-family: 'Josefin Slab', serif;
    
    /* to create space between above content */
    padding-top: 30px;
}

p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.1rem;
}

h1 {
    text-decoration: underline;
    text-underline-offset: 1.5rem;
    text-decoration-thickness: 0.2rem;
}

h6 {
    font-weight: bold;
    font-style: italic;
}

/*Buttons */

.block {
    width: 90%;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 30px 0;
    font-weight: 400;
    border: none;
    
    /* shadow effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    
}

.btn-highlight {
    background-color: var(--highlight-color);
}


.btn-1:hover {
    background-color: var(--secondary-color);
    color: white;
}

.btn-2 {
background-color: var(--secondary-color);
color: white;
}

.btn-2:hover {
    background-color: var(--primary-color);
    color: black;
}

.btn-3:hover {
    background-color: var(--secondary-color);
    color: white;
}

/* a hyperinks */

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--highlight-color-dark);
}

/* Navbar */

#navbar {
    background-color: var(--primary-color);
     /* shadow effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 50px;
} 

.nav-item {
    text-align: center;
}

/* Header */

header {
    /* Header Img */
    background: none;
    background: url("../images/header-img-sm.webp") no-repeat center/cover;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* Elements within header */
    font-weight: 700;
    color: black;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.intro {
    padding: 40px;
}

/* Main */


/* About */

.img {
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    width: 70%;
}

/* Skills  Bootstrap Cards */
.image-container {
    width: 100%;
    height: 200px; 
    /* Give img in cards shadow effect */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Fit image to fill card container */
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#skills {
    width: 90%;
    /* Create border around skill cards */
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.card {
    text-align: center;
    padding: 5%;
    /* Add shadow effect to cards */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Adds padding to the top and bottom of the sectionS */
.section {
    padding-top: 90px;
    padding-bottom: 100px;
}

/* Portfolio */

.project-img {
    border-radius: 20%;
    /* Shadow to tie in with the rest of the content */
    padding: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.portfolio {
    padding-top: 30px;
    padding-bottom: 50px;
}

.projects {
    /* Give space between images */
    padding: 80px;
}

.portfolio-links {
    color: var(--secondary-color);
}

.portfolio-links:hover {
    color: rgb(11, 93, 89);
}

/* Form */

#send-message {
    padding: 10px 5% 5% 10%;
    border-radius: 10px;
}
.form-content {
    width: 100%;
    height: 25px;
    border-radius: 50px;
    padding: 15px;
    margin-bottom: 20px;
    border: solid 1px var(--secondary-color);
}

.form-control {
    border: solid 1px var(--secondary-color);
}

.w3-container {
    background-color: var(--highlight-color);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

::placeholder {
    text-align: center;
    padding-top: 25px;
}

.radio-buttons {
    padding: 30px;
}

#form {
    padding-top: 25px;
    padding-bottom: 180px;
}

/* Footer */

/* Contact Information */

/* Social Network links */

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: var(--secondary-color);
}

#social-networks i:hover {
    color: var(--highlight-color)
}

#map {
box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
    img {
        width: 70%;
    }    

}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* To stop buttons from expanding across screen */
    /* Buttons */
    .btn-1 {
        width: 45%;
    }

    .btn-2 {
        width: 90%;
    }

    /* Portfolio */
    /* Position img with text on portfolio */ 

    #project-img {
    margin-top: 30px;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 922px) {
    /* To stop buttons from expanding across screen */
    .btn-1 {
        width: 30%;
    }

    .btn-2 {
        width: 50%;
    }
}
