/* Google Fonts */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Josefin Slab */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
/* Maven Pro */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Poppins", sans-serif;
    --secondary-font: 'Josefin Slab', serif;
    --primary-color: #fed4cd;
    --secondary-color: #5cb5c5;
    --highlight-color: ;
    --highlight-color-light: ;
}

/* Global Styles */

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
}

h1, h2 {
    font-family: 'Josefin Slab', serif;
}

h1 {
    /* to create space between above content */
    padding-top: 30px;
}

p {
    font-family: 'Maven Pro', sans-serif;
    font-size: 1.1rem;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

/*Buttons */

/* Navbar */

#navbar {
    background-color: var(--primary-color);
    /* To create a shadow effect on the navbar */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} 


/* Forms */

/* Header */

#hero {
    background-color: var(--primary-color);
    background-image: url("assets/images/hero-img.webp");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 45px 0;
}

/* Main */

/* Adds padding to the top and bottom of the sectionS */
.section {
    padding: 60px 0;
}

/* Portfolio Cards */

/* Footer */

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

/* Media Queries */
/* Small devices (landscape phones, 576px and up) */

/* Medium devices (tablets, 768px and up) */

/* Large devices (desktops, 992px and up) */

/* Extra large devices (large desktops, 1200px and up) */

/* exra extra large devices (large desktops, 1400px and up) */
